.titulo1 {
  font-family: "Roboto";
  font-weight: bolder;
  color: #094D73; 
}


.titulo2 {
  font-family: "Roboto";
  font-weight: bolder;
  color: #B64045;
}





.titulo {
  font-family: "Sansita Swashed";
}

.firstsectionh1 {
  padding: 1.5em 1em 10px 1em ;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  background: -webkit-linear-gradient( #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.secondsectionh2 {
  text-align: center;
  font-weight: 400;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.firstsection {
  padding: 0%;
  margin: 0%;
}


.textcenter {
  text-align: center;
}

.waves {
  position: relative;
  background-color: deepskyblue;
  min-height: 85vh;
}

.custom-shape-divider-bottom-1601624208 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1601624208 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}

.custom-shape-divider-bottom-1601624208 .shape-fill {
  fill: #FFFFFF;
}

input, select, textarea {
  background: #fff;
  border: none;
  border-radius: 7px;
  height: 45px;
  padding: 0 15px;
  width: 100%;
}


.bt {
  background: #1fe5a6;
  border: none;
  border-radius: 7px;
  color: #fff;
  display: inline-block;
  font-family: Poppins,Arial,Tahoma,Sans-Serif;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

button {
  height: 45px;
  padding: 0 40px;
  width: 100%;
}

.prestamos {
  background: #1483db;
    border-radius: 7px;
    margin: 0 auto 50px;
    padding: 20px;
    text-align: center;
    width: 90%;
}


.divprestamos {
  padding-top: 25px;
}

.formtitle {
  padding-bottom: 15px;
  font-weight: 700;
  color: #FFFFFF;
}



select {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.creditoinput {
  padding-bottom: 10px;
}

.arrow {
  background: url(img/Arrow-down.png);
  background-size: auto 50%;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    bottom: -30px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: block;
    height: 66px;
    left: 50%;
    margin-left: -33px;
    position: absolute;
    width: 66px;
    margin-bottom: 30px;
    z-index: 5000000;
    background-repeat: no-repeat;
    background-position: center;
}

@media(max-width:620px) {
  .arrow{display:none;}
 }

 @media(max-width:620px) {
  .custom-shape-divider-bottom-1601624208{display:none;}
  .titulo1 {
    font-family: "Roboto";
    font-weight: bolder;
    color: #094D73; 
    font-size: 30px;
  }
  .titulo2 {
  font-family: "Roboto";
  font-weight: bolder;
  color: #B64045;
  font-size: 30px;
  }
  .marginleft {
    margin-left: 1em;
  }
 }


 
     



